<h1>Welcome!</h1>
<section>
  <h3>Login to see your Todos</h3>
  <form class="login-form" action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">

    <input type="submit"value="Submit">
  </form>
</section>
